{% extends "core/base.html" %}
{% block content %}

<div class="container">
<div class="col-lg-offset-4 col-lg-4">

{% if error_log %}
	<div class="alert alert-danger" role="alert">
	
	{% if "nieznany_email" in error_log %}
	Podany email nie istnieje w bazie.<br />
	{% endif %}
	
	</div>
{% endif %}

{% if wyslano %}
	<div class="alert alert-success" role="alert">
	Na podany email wysłano nowe hasło.<br />
	</div>
	<a href='auth_login' class="btn btn-lg btn-primary btn-block">Zaloguj</a>
{% endif %}

<form class="form-signin" role="form" action="restore_password" method="post">{% csrf_token %}

   <h2 class="form-signin-heading">Resetowanie hasła</h2>
   	
   	<label class="sr-only">E-mail</label>
   	<input type="text" name="email" class="form-control" placeholder="Proszę wpisać email podany przy rejestracji">
   	
   <br />	
   <button class="btn btn-lg btn-primary btn-block" type="submit" name="reset">Wyślij</button>
   
 </form>

</div></div>

{% endblock %}